.layout {
  min-height: 100vh;
}

.layout__content {
  min-height: 100vh;
  padding-left: 90px;
}

@media (min-width: 1280px) {
  .layout__content {
    padding-left: 90px;
  }
}

@media (max-width: 1279px) {
  .layout__content {
    padding-left: 0;
    padding-top: 56px;
  }
}
